In [9]:
try:
    basic=eval(input('enter the basic salary of ramesh:'))
    da=0.4*basic
    ha=0.2*basic
    gross_salary=basic+da+ha
    print(f'gross salary of ramesh is: {gross_salary}')
except Exception as e:
    print(e)

enter the basic salary of ramesh: 5000

gross salary of ramesh is: 8000.0

In [11]:
try:
    city1=eval(input('distance of 1st city in kms:'))
    city2=eval(input('distance of 2nd city in kms:'))
    distance=city1-city2
    m=distance*1000
    f=distance*3280.84
    i=distance*39370.1
    c=distance*100000
    print(f'distance of two cities in meters: {m}')
    print(f'distance of two cities in feet: {f}')
    print(f'distance of two cities in inches: {i}')
    print(f'distance of two cities in centimeters: {c}')
except Exception as e:
    print(e)

distance of 1st city in kms: 89
distance of 2nd city in kms: 14

distance of two cities in meters: 75000
distance of two cities in feet: 246063.0
distance of two cities in inches: 2952757.5
distance of two cities in centimeters: 7500000

In [16]:
try:
    science=eval(input('marks in science'))
    social_science=eval(input('marks in social science'))
    maths=eval(input('marks in maths'))
    hindi=eval(input('marks in hindi'))
    english=eval(input('marks in english'))
    total_marks=science+social_science+hindi+english+maths
    aggregrate=total_marks/5
    per=total_marks/500*100
    print(f'total marks in all subjects: {total_marks}')
    print(f'aggregrate marks is: {aggregrate}')
    print(f'percentage is: {per}%')
except Exception as e:
    print(e)

marks in science 55
marks in social science 78
marks in maths 89
marks in hindi 44
marks in english 15

total marks in all subjects: 281
aggregrate marks is: 56.2
percentage is: 56.2%

In [20]:
try:
    temp=eval(input('enter the temperature of city in Fahrenheit degrees:'))
    celsius=round(temp-32/1.8,2)
    print(f'temperature into celsius is: {celsius}')
except Exception as e:
    print(e)

enter the temperature of city in Fahrenheit degrees: 56

temperature into celsius is: 38.22

In [22]:
try:
    length=eval(input('enter the length of the rectangle:'))
    breadth=eval(input('enter the breadth of the rectangle:'))
    area=length*breadth
    perimeter=2*(length+breadth)
    print(f'area of rectangle is: {area} and perimeter of rectangle is: {perimeter}')

    r=eval(input('enter the radius of the circle:'))
    area_circle=round(3.14*r*r,2)
    cir=round(2*3.14*r,2)
    print(f'area of circle is: {area_circle} and circumference of circle is: {cir}')
except Exception as e:
    print(e)

enter the length of the rectangle: 15
enter the breadth of the rectangle: 20

area of rectangle is: 300 and perimeter of rectangle is: 70

enter the radius of the circle: 55

area of circle is: 9498.5 and circumference of circle is: 345.4

In [30]:
try:
    c=eval(input('enter the number in C location:'))
    d=eval(input('enter the number in D location:'))
    c1=c
    d1=d
    
    c=d1
    d=c1
    print(f'interchange value is: {c}, {d}')
except Exception as e:
    print(e)

enter the number in C location: 5
enter the number in D location: 8

interchange value is: 8, 5

In [32]:
try:
    one=eval(input('enter the 1st number:'))
    two=eval(input('enter the 2nd number:'))
    three=eval(input('enter the 3rd number:'))
    four=eval(input('enter the 4th number:'))
    five=eval(input('enter the 5th number:'))
    first=one
    second=two
    third=three
    fourth=four
    fifth=five
    
    one=fifth
    two=fourth
    three=third
    four=second
    five=first
    print(f'reverse of numbers is: {one}, {two}, {three}, {four}, {five}')
except Exception as e:
    print(e)

enter the 1st number: 5
enter the 2nd number: 8
enter the 3rd number: 3
enter the 4th number: 0
enter the 5th number: 9

reverse of numbers is: 9, 0, 3, 8, 5

In [34]:
import time

In [36]:
try:
    one=eval(input('enter the 1st number:'))
    two=eval(input('enter the 2nd number:'))
    three=eval(input('enter the 3rd number:'))
    four=eval(input('enter the 4th number:'))
    print(f'{one}{two}{three}{four}')
    time.sleep(3)
    sum=one+four
    print(f'sum of 1st and 4th digit number is: {sum}')
except Exception as e:
    print(e)

enter the 1st number: 5
enter the 2nd number: 7
enter the 3rd number: 6
enter the 4th number: 8

5768
sum of 1st and 4th digit number is: 13

In [40]:
try:
    population=80000
    men=0.52*population
    literacy=0.48*population
    men_literacy=0.35*population
    total_men_literacy=men-men_literacy
    total_women_literacy=literacy-total_men_literacy
    print(f'total number of illiterate men is: {total_men_literacy} and women is: {total_women_literacy}')
except Exception as e:
    print(e)

total number of illiterate men is: 13600.0 and women is: 24800.0